* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(246, 240, 232);
  color:rgb(53, 48, 48) ;
}

input,option,select,textarea{
  all: unset;
  background-color: rgb(246, 240, 232);
  color:rgb(53, 48, 48) ;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 6px 3px rgb(220, 211, 198);
  padding: 15px;
  text-align: left;
}



#styled-header{
  font-size: 0.7rem;
  text-align: center;
background-color: rgb(53, 48, 48);
width: 100vw;
height: 10vh;
color: rgb(246, 240, 232);
padding: 15px;
}



#styled-header i,#styled-header img{
  font-size: 1.5rem;
  position: absolute;
  right: 3vw;
  top: 3vh;
}

ul,
li,
a {
  all: unset;
}

.loading-message {
  text-align: center;
}

.loading-message p {
  display: inline;
  margin: 10px;
}

#home-page,
#topic-page {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 6vh 5vh 1fr;
  width: 100%;
}

#styled-topics-list {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  
  padding: 1vw;
  text-align: center;
  height: max-content;
  margin: 2vw;
  max-width: 90%;
  border-radius: 20px;
  background-color: rgb(246, 235, 221);
  box-shadow: 0 0 6px 3px rgb(220, 211, 198);

}
#styled-topics-list:hover {
  background-color: rgb(219, 219, 215);
}

#styled-topics-list h2 {
  font-size: 90%;
}

#styled-topics-list li {
  display: block;
  font-size: 70%;
  margin: 10px 0;
}

#sort-by-select {
  display: inline;
  padding: 10px;
}

#sort-by-select select {
  margin-left: 10px;
  padding: 5px;
}

#articles-section {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
}

#articles-header {
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
  grid-column: 2 / span 1;
}


#styled-article-card li  {
  display: flex;
  flex-direction: column;
  font-size: 1em;
line-height: 2em;
  padding: 3vw;
  margin:5vh 3vw ;
  box-shadow: 0 0 6px 3px rgb(220, 211, 198);
  border-radius: 20px;
  background-color: rgb(246, 235, 221);

}


#styled-article-card li:hover {
  background-color: rgb(219, 219, 215);
}



#styled-article-page {
  text-align: center;
  padding: 30px;
  line-height: 1.5em;
}

#styled-votes {
  display: flex;
  margin: 10px 0;
  width: max-content;
  align-items: center;
}

#styled-votes button {
  width: 30px;  
}

#styled-button button:hover {
  background-color: rgb(192, 180, 162);
}

#styled-votes p{
margin: 0 10px;
}

#styled-button button{
  border: none;
  box-shadow: 0 0 3px 3px rgb(229, 215, 194);
  background-color: rgb(251, 236, 214);
 height: 30px;
 padding: 0 5px;
 margin-top: 15px;
 margin-bottom: 15px;
}

#comments-list,#user-comments-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

#styled-comment {
  width: 80%;
  margin: 15px 0;
  box-shadow: 0 0 6px 3px;
padding: 10px;
border-radius: 20px;
  background-color: rgb(246, 235, 221);
  box-shadow: 0 0 6px 3px rgb(220, 211, 198);
}

#styled-login{
  padding: 15px;
  text-align: center;
}

#styled-login input{
  margin: 10px;
}

#styled-login button{
  margin: 10px;
}

#styled-profile{
  text-align: center;
  line-height: 40px;
}

#styled-profile img{
  height: 50vh;
  border-radius: 5%;
}

#profile-picture{
  border-radius: 50%;
}

#styled-not-found{
  text-align: center;
  line-height: 2em;
  font-size: 3rem;
}

#styled-not-found h2{
  font-size: 2em;
}

#comment-form{
  display: flex;
  flex-direction: column;
}

#styled-login-dialog{
  position: absolute;
  width: 60%;
  height: 50%;
  background-color: rgb(53, 48, 48);
color: rgb(246, 240, 232);
border-radius: 15px;
top: 25%;
right: 20%;
display: flex;
align-items: center;  
justify-content: center;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.login-form input{
  margin: 10px ;
}

.close-button{
  background-color: rgb(53, 48, 48);
border: none;
color: rgb(246, 240, 232);
position: absolute;
top: 2%;
right: 2%;
font-size: 2em;
}