* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#app {
  width: 100vw;
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

input,
option,
select,
textarea {
  all: unset;
  border-radius: 20px;
  border: none;
  padding: 15px;
  text-align: left;
}

#styled-header {
  font-size: 1rem;
  text-align: center;
  width: 100vw;
  height: 10vh;
  padding: 15px;
}

.light {
  background-color: rgb(246, 240, 232);
  color: rgb(53, 48, 48);
}

.dark {
  background-color: rgb(53, 48, 48);
  color: rgb(246, 240, 232);
}

.light-card,
.light-button button,
.light input,
.light textarea {
  background-color: rgb(246, 235, 221);
  color: rgb(53, 48, 48);
  box-shadow: 0 0 3px 3px rgb(229, 215, 194);
}

.light-card:hover,
.light-button button:hover {
  background-color: rgb(219, 219, 215);
}

.dark-card,
.dark-button button,
.dark input,
.dark textarea {
  color: rgb(246, 235, 221);
  background-color: rgb(30, 23, 23);
  box-shadow: 0 0 3px 3px rgb(87, 80, 80);
}

.dark-card:hover,
.dark-button button:hover {
  background-color: rgb(16, 5, 5);
}

#profile-menu {
  font-size: 1.5rem;
  position: absolute;
  right: 3vw;
  top: 2.5vh;
}

#profile-menu-button{
  background: none;
  border: none;
}

#profile-nav{
  display: flex;
  flex-direction: column;
}

#profile-nav button{
  padding: 5px;
  border: none;
}

.theme-toggle-button {
  font-size: 1.5rem;
  position: absolute;
  left: 3vw;
  top: 2.5vh;
  border: none;
}

ul,
li,
a {
  all: unset;
}

.loading-message {
  text-align: center;
}

.loading-message p {
  display: inline;
  margin: 10px;
}

#home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

#sort-filter {
  display: flex;
  gap: 30px;
  margin: 5vh 3vw;
  font-size: 2.7vw;
}

#sort-filter select {
  margin-left: 15px;
  width: 20vw;
}

#articles-header {
  text-align: center;
  margin: 5vh 3vw;
  font-size: 2em;
}

#articles-list,
#users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#styled-article-card li,
#styled-user-card li {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  line-height: 2em;
  padding: 3vw;
  margin: 5vh 3vw;
  border-radius: 20px;
  width: 80vw;
}

@media screen and (min-width: 600px) {
  #styled-article-card li,
  #styled-user-card li{
    width: 400px;
    height: 600px;
  }
}

#styled-user-card li{
  text-align: center;
}

#styled-user-card img{
  max-height: 500px;
}

#styled-article-page {
  text-align: center;
  padding: 30px;
  line-height: 1.5em;
}

#styled-votes {
  display: flex;
  margin: 10px 0;
  width: max-content;
  align-items: center;
}

#styled-votes button {
  width: 30px;
}

#styled-votes p {
  margin: 0 10px;
}

#styled-button button {
  border: none;
  height: 30px;
  padding: 5px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#comments-list,
#user-comments-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#styled-comment {
  width: 80%;
  margin: 15px 0;
  padding: 10px;
  border-radius: 20px;
}



#styled-login {
  padding: 15px;
  text-align: center;
}

#styled-login input {
  margin: 10px;
}

#styled-login button {
  margin: 10px;
}

#styled-profile {
  text-align: center;
  line-height: 40px;
}

#styled-profile img {
  height: 50vh;
  border-radius: 5%;
}

#profile-picture {
  border-radius: 50%;
}

#styled-not-found {
  text-align: center;
  line-height: 2em;
  font-size: 3rem;
}

#styled-not-found h2 {
  font-size: 2em;
}

#comment-form {
  display: flex;
  flex-direction: column;
}

#styled-login-dialog {
  position: absolute;
  width: 60%;
  height: 50%;
  border-radius: 15px;
  top: 25%;
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin: 10px;
}

.close-button {
  border: none;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 2em;
}

#post-article-form{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 15px;
  gap: 15px;
}

#title-input-error,
#post-topic-select-error,
#article-body-input-error{
  box-shadow: 0 0 3px 3px rgb(137, 6, 6);
}